html {
    font-size: 18px;
    background-color: beige;
    font-family: "Lucida Calligraphy", serif;
}

body {
    background-color: #e3ffca;
    padding: 20px 50px 20px 50px;
    margin: 0 auto;
}

.header {
    background-color: #fdffd4;
    padding: 20px 20px 20px 20px;
}

.header__logo {
    font-size: 10px;
    background-color: #d0ffa0;
    width: 140px;
    border: 5px solid #efff8d;
}

.header__navigation {
    font-size: 20px;
    text-align: center;
}

.main-header {
    font-size: 50px;
    text-align: center;
    color: #147a06;
}

.main-sect, .article {
    font-size: 20px;
}

/*
Применить стили для текста, задать свойства:
размера шрифта
высоты строки
семейство используемых шрифтов
насыщенность шрифта
выравнивание текста (горизонтальное, вертикальное)
Фон и цвет текста
Отступы
пробелы
Стилизация  преформатированного текста
Подчеркивание, зачеркивание и  другие
Регистр символов

 */
.main-sect__header, .article__header {
    font-size: 35px;
    text-align: center;
    background-color: #fdffd4;
    color: #103f06;
    text-transform: none; /*uppercase*/
}

.main-sect__paragraph, .article__paragraph {
    font-size: 20px;
    color: #103f06;
    font-style: normal; //italic
    font-weight: lighter;
}

.main-sect__img {
    width: 200px;
}

.main-sect__list {
    text-decoration: underline; /*overline, line-through*/
}

.main-sect__list-item {
    text-decoration: none;
    font-size: 17px;
    vertical-align: bottom;
    line-height: 150%;
}

.main-sect__logo-name {
    color: darkgreen;
}


.footer {
    font-size: 15px;
    text-align: center;
    margin: 20px 20px 20px 20px;
    background-color: #fdffd4;
}

.aside {
    font-weight: lighter;
    text-align: right;
    margin: 20px 20px 20px 20px;
    background-color: #efff8d;
}
